<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shreya.swamsteras">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".notificationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SwimAndCoachAns" />
        <activity android:name=".adminLogin" />
        <activity android:name=".coachLogin" />
        <activity android:name=".coachOrSwimmer" />
        <activity android:name=".FirebasePopulator"></activity>
        <activity android:name=".TimeUpdate"></activity>
        <activity android:name=".UpdateTime"></activity>
        <activity android:name=".EventsSwimmer"></activity>

    </application>


</manifest>